[
  {
    "name": "Название товара",
    "commission": 15.5,
    "warehouse": "ФБО",
    "category": "Категория товара"
  },
  {
    "name": "Другой товар",
    "commission": 18.0,
    "warehouse": "ФБО",
    "category": "Другая категория"
  }
]

